.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.emailInput,
.passwordInput {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;

    &:focus-visible {
        outline: 1px solid var(--button-background-primary);
    }
}

.emailInput {
    margin-bottom: 1.5rem;
}

.passwordInput {
    margin-bottom: 0.75rem;
}

.forgotPassword {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--button-background-primary);
    }
}

.error {
    border-color: red;
}

.errorText {
    height: 12px;
    line-height: 1;
    color: red;
    font-size: 12px;
}

.smallText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginButton {
    padding: 16px;
    width: 100%;
    border-radius: 76px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
}
