.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subTitle {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #828282;
}

.emailInput {
    width: 100%;
    margin-bottom: 1rem;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;

    &:focus-visible {
        outline: 1px solid var(--button-background-primary);
    }
}

.error {
    border-color: red;
}

.errorText {
    width: 100%;
    height: 12px;
    line-height: 1;
    color: red;
    font-size: 12px;
    text-align: end;
}

.continueButton {
    padding: 16px;
    width: 100%;
    border-radius: 76px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
}
