.modal {
    position: absolute;
    width: 20rem;

    .cardWrapper {
        position: relative;
        max-width: 20rem;
        height: inherit;
        min-height: 1.5rem;
    }

    .criticity {
        position: absolute;
        top: 0;
        right: 0;
        width: 7rem;
        background-color: #fff;
    }

    .card {
        position: relative;
        padding: 0.3rem 0.5rem;
        max-width: 20rem;
        height: inherit;
        min-height: 1.5rem;
    }

    .actionButtons {
        margin-top: 1rem;
        button:first-child {
            margin-right: 1rem;
        }
    }
}
